<script src="~/js/DevExtreme/Customer.js"></script>
<script src="~/js/DevExtreme/Order.js"></script>

<div class="card shadow my-4">
    <div class="card-header py-3">
        <div class="container text-center">
            <div class="row justify-content-md-center">
                <div class="col">
                    <h2>TABLE ORDER</h2>
                </div>
                <div class="col-md-auto">
                    <div class="d-flex mb-3">
                        <div id="dateBox1" class="p-2"></div>
                        <div id="dateBox2" class="p-2"></div>
                        <div id="filtersearch"></div>
                        <div id="filterclear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="dataGridOrder"></div>
    </div>
</div>

<div class="card shadow my-4">
    <div class="card-header py-3">
        <h4 class="float-left">TABLE CUSTOMER</h4>
    </div>
    <div class="card-body">
        <div id="dataGridCustomer"/>
    </div>
</div>